<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<nav class="navbar navbar-expand-lg navbar-light px-5 w-100" style="background-color: rgba(71, 76, 79, 0.409)">
    <nav class="navbar navbar-light">
        <a class="navbar-brand" href="/src/index.html">
            <img src="https://images.vexels.com/media/users/3/153232/isolated/preview/c3bcb676107e330558ccc68f8e1cf7d5-icono-plano-del-reproductor-de-peliculas.png" width="40" height="30" class="d-inline-block align-top" alt=""> PELICULA
        </a>
    </nav>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mx-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Pelicula
            </a>
                <ul class="dropdown-menu dropdown-menu-end" style="background-color: rgba(71, 76, 79, 0.069); margin-top: 16px;" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" routerLink="verPelicula">Ver Pelicula</a></li>
                    <li><a class="dropdown-item" routerLink="crearPelicula">Registrar Pelicula</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
</nav>

<body>
    <router-outlet></router-outlet>
</body>

</html>
